{% extends '::frontend.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/producto/css/policosanol.css') }}"
rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %}Laboratorios Dalmer s.a. | Productos: Oleozon Oral{% endblock %}
{% block id 'prodpol' %}
{% block article %}
<div id="title">
<h2>Oleozon oral</h2>
<img class="title" alt="icono carrito" src="{{ asset('bundles/producto/images/carrito.png') }}">
</div>
<img class="prod" alt="Pomo oleozon-oral" src="{{ asset('bundles/producto/images/abexol.png') }}">
<h4 class="producto">Acciones</h4> <p>Antiparasitaria</p>
<h4 class="producto">Composición</h4>
<p>Cada mL (20 gotas) contiene: -Hidroxihidroperóxidos de triglicéridos insaturados, como oxígeno activo.....................80-120mg. -Vehículo cs .
</p>
<br>
<br>


<h4 class="producto">Indicaciones</h4>
<p>Tratamiento de la Giardiasis.
</p>
<h4 class="producto">Contraindicaciones</h4>
<p>No se ha reportado contraindicación alguna. 
</p>
<h4 class="producto">Precausiones</h4>
<p>No administrar a embarazadas. No utilizar después de su fecha de vencimiento.</p>
<h4 class="producto">Advertencias</h4>
<p>En caso de manifestaciones adversas debe retirarse el medicamentoy consultar al médico. Manténgase alejado del alcance de los niños. AGITESE ANTESDE USAR.</p>
<h4 class="producto">Interaccionesmedicamentosas</h4>
<p>No se han descrito.</p>
<h4 class="producto">Reaccionessecundarias</h4>
<p>Náuseas, vómitos, astenia, mareo y fatiga.</p>
<h4 class="producto">Posología</h4>
<p>Para mayores de 12 años: se deben ingerir diariamente 20 gotas, dos veces al día, una al levantarse, una hora antes del desayunoyotras20 gotasal acostarse,3horas despuésdela última comida, durante 10 días. Se descansará una semana y se volverá a repetir el ciclo por otros 10 días de tratamiento. Para niños entre8 mesesy2añosde edad se administrarán5gotas;de3 a5 añosde edadse administrarán10 gotasyde6a11 añosse administrarán15 gotas siguiendo el mismo esquema de tratamiento anterior.</p>
<h4 class="producto">Almacenamiento</h4>
<p>Consérvese de 2 a 8ºC.</p>
<h4 class="producto">Presentación</h4>
<p>Estuche por1frasco con 30mL.</p>
{% endblock %}
