{% extends '::frontend.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/producto/css/policosanol.css') }}"
rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %}Productos-prevenox{% endblock %}
{% block id 'prodpol' %}
{% block article %}
<div id="title">
<h2>Prevenox</h2>
<img class="title" alt="icono carrito" src="{{ asset('bundles/producto/images/carrito.png') }}">
</div>
<img class="prod" alt="Estuche de policosanol" src="{{ asset('bundles/producto/images/abexol.png') }}">
<h4 class="producto">Acciones</h4> <p>El PREVENOX ha mostrado efectos antioxidantes producidos por el aumento de la respuesta antioxidante del organismo. El PREVENOX protege al organismo del estrés oxidativo, proceso promotor del envejecimiento y de los estados fisiopatológicos asociados, al proteger las partes lipídicas y proteicas de las lipoproteínas, de modo tal que le confiere a estas moléculas una mayor resistencia a la oxidación. Los efectos antioxidantes del PREVENOX han sido demostrados sobre diferentes órganos y tejidos. Consistente con esta acción, y teniendo en cuenta el papel de los lipidos oxidados en el desarrollo de la osteoporosis, el PREVENOX ha mostrado efectos beneficiosos sobre marcadores de este proceso. 
Los efectos antioxidantes del PREVENOX han sido demostrados en estudios clínicos y experimentales.</p>
<h4 class="producto">Descripción</h4>
<p>El PREVENOX consiste en una mezcla de ácidos alifáticos de alto peso molecular purificada de la cera de la caña de azúcar.
<h4 class="producto">Composición</h4>
<p>Cada tableta contiene: Mezcla de ácidos alifáticos de alto peso molecular 5 mg, Excipientes (mg) csp.
</p>
<h4 class="producto">Indicaciones</h4>
<p>El PREVENOX se recomienda como suplemento nutricional en la dieta diaria con el objetivo de reducir el impacto del estrés oxidativo que ocurre durante el envejecimiento sobre diferentes sistemas del organismo, principalmente orientado a personas de edad media y avanzada, incluidas las mujeres post-menopáusicas.
</p>
<h4 class="producto">Toxicidad y efectos adeversos</h4>
<p>Los estudios de la toxicidad a corto y largo plazo  del ingrediente activo del PREVENOX (toxicidad aguda, subcrónica, y crónica), y los estudios de genotoxicidad, toxicología de la fertilidad y la reproducción, y del potencial cancerígeno a largo plazo han mostrado ausencia de toxicidad asociada a su uso. Los estudios clínicos realizados han mostrado que el PREVENOX es seguro y bien tolerado. 
</p>
<h4 class="producto">Consumo</h4>
<p>Una o dos tabletas diarias consumidas en una sola toma, o distribuidas en dos tomas, ingeridas junto con las principales comidas.</p>
<h4 class="producto">Contraindicaciones</h4>
<p>Embarazo y lactancia.</p>
<h4 class="producto">Precausiones</h4>
<p>No administrar a niños.</p>
<h4 class="producto">Almacenamiento</h4>
<p>Puede conservarse a temperatura ambiente.</p>
<h4 class="producto">Vencimiento</h4>
<p>Cinco  años después de la fecha de fabricación.</p>
{% endblock %}
