img.prod {
float: left;
margin: 0 20px 20px 0;
}
h4.producto{
color: #00a651;
display: inline;
margin-right: 10px;
font-size: 16px;
font-weight: normal;
}
p {
text-align: justify;
}
ul.check li {
margin: 0 0 12px 0;
color: #666;
line-height: 1em;
list-style-type:none;
padding: 0 0 0 45px;
position: relative;
text-align: justify;
line-height: 19.5px;
}
ul.check li:before{
/*fill it with a blank space*/
content: "\00a0";
 
/*make it a block element*/
display: block;
 
/*adding an 8px round border to a 0x0 element creates an 8px circle*/
border: solid 8px #00A651;
border-radius: 8px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
height: 0;
width: 0;
 
/*Now position it on the left of the list item, and center it vertically
(so that it will work with multiple line list-items)*/
position: absolute;
left: 7px;
top: 40%;
margin-top: -8px;
}
ul.check li:after{
/*Add another block-level blank space*/
content: "\00a0";
display:block;
 
/*Make it a small rectangle so the border will create an L-shape*/
width: 2px;
height: 5px;
 
/*Add a white border on the bottom and left, creating that 'L' */
border: solid #fff;
border-width: 0 2px 2px 0;

/*Position it on top of the circle*/
position: absolute;
left: 14px;
top: 40%;
margin-top: -4px;
 
/*Rotate the L 45 degrees to turn it into a checkmark*/
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
}