{% extends '::frontend.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/estaticas/css/publicaciones/policosanol.css') }}"
rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %}Publicaciones-Policosanol{% endblock %}
{% block id 'policosanol' %}
{% block article %}
<div id="title">
<h2>Proyecto Policosanol</h2>
<img class="title" alt="icono maquina" src="{{ asset('bundles/estaticas/images/maquina.png') }}">
</div>
<p class="primero">Publicaciones del Proyecto Policosanol desde el año 1992 a la fecha, en loa hámbitos Nacionales e internacionales.</p> 

<h3>Nacionales</h3>
<div id="accordion">
<h3><a href="#">1991 </a></h3>
<div>
<p>
<ul>
<li>Pérez-Souto N, Magraner J, González L, Mederos CM, Acosta PC, Reyes JL, Martínez O: <b>Administración intravenosa del Ateromixol (PPG) en perros Beagle, cerdos y ratas. Determinación de niveles plasmáticos de octacosanol.</b> Rev CENIC Cien Biol 1991, 22: 15-19. 
</li> 
<li>Arruzazabala ML, Carbajal D, Más R, Castaño G, Sotolongo R, Mesa R: <b>Efecto del Ateromixol (PPG) sobre los niveles de colesterol en perros Beagle.</b> Rev CENIC Cien Biol 1991, 22: 60-61. 
</li>
<li>Cruz-Bustillo D, Mederos CM, Más R, Arruzazabala ML, Barreto B, Martínez O: <b>Efecto hipocolesterolémico del Ateromixol (PPG) en el cerdo en ceba.</b> Rev CENIC Cien Biol 1991, 22: 62-63. </li>
<li>Arruzazabala ML, Carbajal D, Más R, García M: <b>Efectos del Ateromixol (PPG) sobre la agregación plaquetaria.</b> Rev CENIC Cien Biol 1991, 22: 72-73. </li>
<li>Illnait J, Castaño G, Nodarse M, Pontigas V, Hernández L, Más R: <b>Efectos del Ateromixol (PPG) sobre la hiperlipoproteinemia del tipo II.</b> Rev CENIC Cien Biol 1991, 22: 74-76. </li>
<li>Pérez-Souto N, Acosta PC, Mederos CM, Reyes JL, Martínez O: <b>Efecto del Ateromixol (PPG) sobre la famacocinética de la antipirina.</b> Rev CENIC Cien Biol 1991, 22: 77-78. </li>
<li>Noa M, Herrera M, Más R: <b>Efecto del Ateromixol (PPG) sobre el daño endotelial en ratas.</b> Rev CENIC Cien Biol 1991, 22: 79-80. </li> 
<li>Alemán CL, Más R, Rodeiro I, Noa M. Hernández C, Capote A, Menéndez R, González RM, Amor AM, Jiménez S: <b>Toxicología aguda del Ateromixol (PPG) en roedores.</b> Rev CENIC Cien Biol 1991, 22: 102-105. </li>
<li>Fernández SI, Rendón A, de las Cajigas A, López M: <b>Estudio genotóxico del Ateromixol (PPG), un nuevo medicamento hipolipemiante.</b> Rev CENIC Cien Biol 1991, 22: 98-101. </li>
</ul>
</p>
</div>
<h3><a href="#">1996 </a></h3>
<div>
<p>
<ul>
<li>Menéndez R, Sotolongo V, Fraga V, Amor AM, González R, del Río A, Jiménez S, Pérez N, Más R: <b>Niveles plasmáticos y excreción de la radiactividad total en voluntarios sanos tras la administración oral de octacosanol-3H.</b> Rev CENIC Cien Biol 1996, 27: 32-35. </li>
<li>Gutiérrez C, Fernández L, Fernández JC, Castaño G, Más R, Rodríguez MM: <b>Estudio de la eficacia del policosanol en pacientes con hiperlipoproteinemia tipo II: Estudio abierto.</b> Rev CENIC Cien Biol 1996, 27: 36-37. </li>
<li>Castaño G, Illnait J, Fernández L, Fernández JC, Más R: <b>Estudio dosis-efecto de la acción hipocolesterolémica del policosanol en pacientes con hiperlipoproteinemia tipo II.</b> Rev CENIC Cien Biol 1996, 27: 38-40. </li>
<li>Orozco J, Gallardo R, Illnait J, Surribas E, Fernández L, Fábregas M, Más R, Fernández JC: <b>Estudio de la eficacia, seguridad y tolerabilidad del policosanol (5 mg/día) en pacientes con hipercolesterolemia tipo II.</b> Rev CENIC Cien Biol 1996, 27: 41-45. </li>
<li>Castaño G, Nodarse M, Más R, Illnait J, Fernández L, Fernández JC: <b>Comparaciones de los efectos del policosanol y la lovastatina en pacientes con hipercolesterolemia primaria tipo II.</b> Rev CENIC Cien Biol 1996, 27: 57-63. </li>
<li>Canetti M, Morera MS, Illnait J, Más R, Fernández L, Castaño G, Fernández JC: <b>Estudio comparativo de los efectos del policosanol y el gemfibrozil en pacientes con hipercolesterolemia primaria tipo II.</b> Rev CENIC Cien Biol 1996, 27: 64-70. </li>
<li>Pons P, Fernández L, Más R, Illnait J, Robaina C, Rodríguez M, Fernández JC: <b>Estudio comparativo de los efectos del policosanol y el bezafibrato en pacientes con hipercolesterolemia primaria tipo II.</b> Rev CENIC Cien Biol 1996, 27: 71-77. </li>
</ul>
</p>
</div>
<h3><a href="#">1998 </a></h3>
<div>
<p>
<ul>
<li>Castaño G, Nodarse M, Más R, Illnait J, Fernández L, Fernández JC: <b>Estudio comparativo de la eficacia y tolerabilidad del policosanol, la simvastatina y de su terapia combinada en el tratamiento de la hipercolesterolemia tipo II.</b> Rev CENIC Cien Biol 1998, 29 (1): 9-15. </li>
<li>Castaño G, Más R, Tabares I, Víctor D, Illnait J, Fernández L, Fernández JC: <b>Estudio comparativo del policosanol, gemfibrozil y la terapia combinada policosanol-gemfibrozil en el tratamiento de la hipercolesterolemia tipo II.</b> Rev CENIC Cien Biol 1998, 29(1): 17-23.</li>
<li>González L, Magranel J, Cabrera L, Rivero B: <b>Identificación por GC-Em y determinación por CG de los productos de degradación por termolisis en tabletas revestidas de policosanol (5 mg )</b> Rev CENIC. Cienc Quím 1998, 29 (1), 27-30. </li>
<li>González R, Pérez N, Acosta PC. <b>Interacción farmacocinética Policosanol-teofilina en perros Beagle.</b> Rev CENIC, Cien Biol 1998 ,29 (2): 65-67. </li>
<li>González VL, Magraner J, Laguna A, Velázquez C, Lorenzo M: <b>Metodología analítica por cromatografía gaseosa para la determinación de los alcoholes alifáticos superiores que componen el policosanol.</b> Rev CENIC Cien Quím 1998, 29: 123-126. </li>
<li>Magraner J, González VL, Laguna A, Lorenzo M, Cabrera L, Uribarri E: <b>Metodología analítica por cromatografía gaseosa para la determinación de policosanol en tabletas revestidas, con un contenido de 5 mg de principio activo.</b> Rev CENIC Cien Biol 1998, 29: 127-130. </li>
<li></li>
<li></li>
<li></li>
</ul>
</p>
</div>
<h3><a href="#">1999 </a></h3>
<div>
<p>
<ul>
<li>González VL, Magraner J, Otero T, García E: <b>Validación y estudio de colaboración interlaboratorios de una nueva metodología analítica por CG para la determinación de policosanol en la materia prima.</b> Rev CENIC Cien Quím 1999, 30 (3): 148-152. </li>
<li>Lagioia R, Alberti S, Ujeda C, Cantarelli O, Talabue C, Vázquez C, Magallanes J, Más R, Fernández JC: <b>Estudio abierto de la eficacia y tolerabilidad del policosanol en la hipercolesterolemia tipo II.</b> Rev CENIC Cien Biol 1999, 30: 121-126. </li>
<li>Sumarokov D, Sirkin V, Grasianski D, Nikitin V, Más R, Fernández JC, Illnait J: <b>Estudio comparativo de la eficacia, seguridad y tolerabilidad del bezafibrato y el policosanol en el tratamiento de la hipercolesterolemia tipo II en pacientes rusos.</b> Rev CENIC Cien Biol 1999, 30: 133-139. </li>
<li>Marrero D, González L: <b>Determinación de trazas de 1-octacosanol en proteinas precipitadas por cromatografia gaseosa capilar.</b> Rev CENIC Cien Quím 1999, 30 (3): 127-130. </li>
<li>González L, Sierra R, y Magranel J: <b>Influencia de la masa inyectada sobre la respuesta cromatografica relativa del 1-octacosanol , al tomas como patrón interno al 1-eicosanol.</b> Rev CENIC. Cien Quim 1999, 30 (3): 146-147. </li>
<li>González L, Marrero D:<b> Factores de error cuantitativo en la determinación de trazas de ácido 1-ocatacosanoico por CCF-CGC.</b> Rev CENIC. Ciencias Químicas , 1999, 30 (3, 131-147. </li>
<li>Nigro NB, Nigro B, Nigro JC, Nigro FL, Más R, Fernández JC: <b>Eficacia y tolerabilidad del policosanol en pacientes con hipercolesterolemia tipo II.</b> Rev CENIC Cien Biol 1999) 30: 127-132. </li>
<li>Cora M. , González L:, Marrereo D:<b> Factores de error cuantitativo en la determinación de trazas de ácido 1-octacosanoico por CCF-CGC.</b> Rev CENIC. Cien Quim 1999,30(3) 131-134. </li>
</ul>
</p>
</div>
<h3><a href="#">2000 </a></h3>
<div>
<p>
<ul>
<li>Cora M, y L. González.<b> Determinación microanalítica de colesterol total en tejidos. </b>Rev CENIC. Cien Quim 2000, 31(1) 19-21</li>
<li>Rodeiro I, Alemán C, Más R, Acosta PC, Rodríguez MD, Gámez R, Rodríguez M, García H. <b>Efectos del Policosanol sobre las enzimas microsomales hepáticas en ratas Sprague Dawley.</b> Rev CENIC, Cien Biol 2000 , 31 (2), 113-116. </li>
</ul>
</p>
</div>
<h3><a href="#">2001 </a></h3>
<div>
<p>
<ul>
<li>Fernández JC, Castaño G, Más R, Fernández L, Alvarez E, Lescay M: <b>Estudio abierto de la eficacia, seguridad y tolerabilidad a largo término del policosanol (20 mg/d) en ancianos con alto riesgo coronario.</b> Revista CENIC Cien Biol 2001 ,32 (1), 25-31. </li>
<li>Fernández JC, Más R, Campilongo R, Sandin D, Felman R, Barrios O. <b>Estudio abierto de la eficacia y tolerabilidad del Policosanol en ancianos con hipercolesterolemia II.</b> Rev CENIC, Cien Biol 2001, 32 (3), 143-148. </li>
<li>González VL. <b>Determinación de Policosanol y de sus productos de degradación por cromatografía gaseosa.</b> Rev CENIC, Cien Quím 2001, 32 (1), 12. </li>
<li>Tejeda Y, Sierra R, González V. <b>Desarrollo y validación de una metodología analítica para la identificación y cuantificación del policosanol en suspensiones acuosas que contienen entre 1 y 200 mg/ml de principio activo.</b> Revista Cubana de Farmacia 2001; 35 Suplemento Especial: 239. </li>
</ul>
</p>
</div>
<h3><a href="#">2002 </a></h3>
<div>
<p>
<ul>
<li>Arruzazabala L, Más R, Carbajal D, Valdés S:, Molina V: <b>Interaction between policosanol and prostacyclin on platelet aggregation in rats.</b> Rev CENIC Cien Biol 2002, 33 (1): 9-12. </li>
</ul>
</p>
</div>
<h3><a href="#">2003 </a></h3>
<div>
<p>
<ul>
<li>Castaño G, Más R, Fernández J, Fernández L, Illnait J, Mesa M. <b>Comparative efficacy, safety and tolerability of policosanol versus statins in patients with type II hypercholesterolemia: Emphasis on muscle function indicators.</b> Rev CENIC Ciencias Biologicas 2003, 34 (3): 109-119 </li>
<li>Fernández J, Mas R, Castaño G, Illnait J, Fernández L, Mesa M. <b>Does policosanol impairs muscle function of older patients with Type II hypercholesterolemia?</b> Rev CENIC Cien Biol 2003, 34 (3): 99-107</li>
<li>Fernandez J. <b>Efecto del policosanol en ancianos con hipercolesterolemia tipo II.</b> Reseña tesis de doctorado. Rev CENIC Cien Biol 2003, 34 (3): 153-154.</li>
</ul>
</p>
</div>
<h3><a href="#">2005 </a></h3>
<div>
<p>
<ul>
<li>Castaño G, Mas R, Fernández L, Illnait J, Fernández J, Mesa M, Mendoza S. <b>Comparison of the efficacy, safety and tolerability of policosanol and atorvastatin in patients with type II hypercholesterolemia.</b> Rev CENIC Cien Biol 2005, 36 (3): 171-177. </li>
<li>Fernández J, Mas R, Castaño G. Illnait J, Fernández L, Canetti M, Morera M, Tula L, Ortensi G, Arruzazabala ML, Noa M, Molina V, Menéndez R, Amor AM, González RM, Alvarez E, Lezcay M. <b>Eficacia, seguridad y tolerabilidad del Policosanol en ancianos con HC tipo II: Una breve revisión.</b> Rev CENIC Cien Biol 2005, 36 (No Especial). </li>
</ul>
</p>
</div>
<h3><a href="#">2006 </a></h3>
<div>
<p>
<ul>
<li>Sierra R, Laguna A, González V, Uribarri E, Velásquez C. <b>Estudio de estabilidad de tabletas que contienen 20 mg de policosanol como ingrediente activo.</b> Rev CENIC Cien Quim , 37 (1), 17-19, 2006 </li>
<li>Fernández I , Rendón A, Noa M, Mas R, Laguna A. </b>Study of policosanol effects on mice germ cells.</b> Rev CENIC , Cien. Biol 2006, 37: 3 - 7 </li>
<li>Fernández I, Alfonso JL, Acosta PC. <b>In vitro mutagenic evaluation of policosanol.</b> Rev CENIC Cien Biol 2006, 37: 9 - 12 </li>
<li>Marrero D, González L, González V. <b>Desarrollo de un método analítico por cromatografía gaseosa con columna capilar para la determinación de alcoholes de alto peso molecular en extractos de cera de caña.</b> Rev CENIC Cien Quim 2006, 37 (3): 131-132 </li>
</ul>
</p>
</div>
<h3><a href="#">2007 </a></h3>
<div>
<p>
<ul>
<li>González V, Velázquez C. <b>Copycat-policosanols” versus genuine Policosanol</b>. Rev CENIC Cien Quim 2007, 38 (1): 207-213</li>
<li>González V, Sierra R, Marrero D, Hernández VM, Campañá H. <b>Identificación por Cromatografía de Gases - Espectrometría de Masas y determinación cuantitativa por Cromatografía de Gases de los productos de degradación térmica de las tabletas de policosanol (20 mg) revestidas.</b> Rev CENIC Cien Quim, 2007, 38 (1): 203-206 </li>
<li>Castaño G, Mas R, Gámez R, Fernández L, Illnait J, Fernández J. Mendoza S, Mesa M. <b>Concomitant use of policosanol and benzodiazepines in older patients.</b> Rev CENIC Cien Biol 2007, 38 (2): 107- 113. </li>
</ul>
</p>
</div>
<h3><a href="#">2008 </a></h3>
<div>
<p>
<ul>
<li>Castaño G, Illnait J, Fernández L, Fernández JC, Mas R, Mesa M, Mendoza S. <b>Comparison of the effects of policosanol and atorvastatin on postmenopausal women with type II hipercolesterolemia.</b> Rev CENIC Cien Biol 2008, 39 (1): 27-32. </li>
</ul>
</p>
</div>
<h3><a href="#">2009 </a></h3>
<div>
<p>
<ul>
<li>Molina V, Arruzazabala ML, Carbajal D, Mas R.<b> Interacción de los efectos del policosanol y el aceite de pescado en el tiempo de sangrado y la agregación plaquetaria intravascular en ratas. Rev.</b> CENIC Cien Biol 2009, 40,1: 13-17. 
<li>Molina V, Mas R, Ravelo Y, Carbajal D, Valle M, Arruzazabala ML, Mendoza N. <b>Evaluación preliminar de los efectos del policosanol sobre manifestaciones del daño pulmonar inducido por monocrotalina en ratas.</b> Rev CENIC Cien Biol 2009, 40 (1): 19-23. </li>
<li>Mendez E, Gonzalez V, Balcinde Quiñonez Y, Rodríguez Cruz E, Gonzalez Pedroso A.<b> Prueba limite para n-hexano residual en policosanol por Espacio de Cabeza Estático-Cromatografía de gases.</b> Rev CENIC Cien Quím 2009; 40(3):135-137. </li>
</ul>
</p>
</div>
<h3><a href="#">2010 </a></h3>
<div>
<p>
<ul>
<li>Oyarzábal A, Molina V, Jiménez S, Curveco D, Mas R. <b>Efectos del policosanol, el extracto de semillas de uva y su terapia combinada sobre marcadores oxidativos en ratas.</b> Rev Cubana Farmacia. 2010; 45(1): 87-96. </li>
<li>Lopez E, Illnait J, Fernandez J, Fernandez L, Gámez R, Mesa M, Mendoza S, Mas R, Ruiz D, Jardines Y. <b>Effects of sugarcane wax alcohols in subjects withnormal or borderline serum cholesterol levels.</b> Rev CENIC Cien Biol. 2010; 41(1): 31-37. </li>
<li>Sanchez J, Mas R, Mendoza S, Fernández J, Ruiz D. <b>Effects of policosanol on patients with ischemic stroke with previous transient ischemic attack: a long-term follow-up.</b> Rev CENIC Cien Biol. 2010; 41 (1): 23-29. </li>
<li>Illnait J, castaño G, Fernandez J, López E, Mas R, Fernandez L, Mendoza S, Mesa M, Gámez R. <b>Lipid lowering effect of policosanol and omega- 3 fatty acids combined therapy in hypercholesterolemic patients.</b> Rev CENIC Cien Biol. 41 (2): 103-109, 2010. </li>
</ul>
</p>
</div>
<h3><a href="#">2011 </a></h3>
<div>
<p>
<ul>
<li>Molina V, Carbajal D, Arruzazabala ML, Ravelo Y, Mas R. <b>Comparative study of policosanol and grape seed extract on platelet aggregation in rats.</b> Rev CENIC Cien Biol. 2011; 42 (1): 3-6. </li>
</ul>
</p>
</div>
</div>
<h3>Internacionales</h3>
<div id="accordionII">
<h3><a href="#">1991 </a></h3>
<div>
<p>
<ul>
<li>Castaño G, Zardoya R, Illnait J, Más R, Fernández L, Surribas E, Nodarse M; Fernández JC: <b>Efectos del tratamiento con Ateromixol (PPG) (5 mg) en Pacientes con Hiperlipoproteinemia Tipo II.</b> P. C. M 1991, 5 (6): 21-28 </li>
</ul>
</p>
</div>
<h3><a href="#">1992 </a></h3>
<div>
<p>
<ul>
<li>Hernández F, Illnait J, Más R, Castaño G, Fernández L, González M, Cordoví N, Fernández JC: <b>Effects of policosanol on serum lipids and lipoproteins in healthy volunteers.</b> Curr Ther Res 1992, 51 (4): 568-575. </li>
<li>Pons P, Más R, Illnait J, Fernández L, Rodríguez M, Robaina C, Fernández J. C: <b>Efficacy and safety of policosanol in patients with primary hypercholesterolemia.</b> Curr Ther Res 1992, 52 (4): 507-513. </li>
<li>Arruzazabala ML, Carbajal D, Más R, Illnait J, Laguna A, Castaño G: <b>Efecto del policosanol sobre el perfil lipídico de conejos normocolesterolémicos.</b> Arch Venezol Farmacol Terap 1992, 11 (2): 80-86. </li>
<li>Rodríguez –Echenique C, Mesa R, Más R, Amor AM, Castaño G: <b>Estudio del efecto sobre lípidos y lipoproteínas séricos y de la tolerancia al tratamiento oral con dosis crecientes de Policosanol en monos (Macaca arctoides).</b> Arch Venezol Farmacol Terap 1992, 11 (2): 74-79. </li>
<li>Alemán CL, Más R, Hernández C, Rodeiro I, Noa M, Menéndez R, González RM, Amor A, Sotolongo V, Fraga V, Capote A; Jiménez S. <b>Acute, Subchronic and Chronic toxicity of policosanol in rats.</b> Toxicol Lett 1992, 2 (Suppl): 248. </li>
<li>Rodríguez –Echenique C, Mesa R, Más R, Menendez R, Noa M, Gonzalez RM, Amor AM, Fraga V. , Laguna A: <b>Toxicological study of policosanol Long-Term administration in Macaca arctoides monkeys.</b> Toxicol Lett 1992, 2 (Suppl): 248. </li>
<li>Rendón A, Rodríguez MD,. López M, García H, de las Cagigas A, Más R, Fernández I. <b>Policosanol: a study of its genotoxicity and teratogenecity in rodents.</b> Toxicol Lett 1992, 2 (Suppl): 248. </li>
<li>Noa M, Más R: <b>Ateromixol y la lesión aterosclerótica en conejos inducida por lipofundin.</b> PCM 1992, 6 (1): 14-19. </li>
<li>Arruzazabala ML, Carbajal D, Molina V, Valdés S, Más R, García M. <b>Estudio farmacológico de la interacción entre el policosanol y la aspirina en animales de experimentación.</b> Rev Iberoam Tromb Hemost 1992, 5: 17-20. </li>
</ul>
</p>
</div>
<h3><a href="#">1993 </a></h3>
<div>
<p>
<ul>
<li>Arruzazabala ML, Carbajal D, Más R, García M, Fraga V: <b>Effects of policosanol on platelet aggregation in rats.</b> Thromb Res 1993, 69: 321-327. </li>
<li>Pons P, Jiménez A, Rodríguez M, Illnait J, Más R, Fernández L, Fernández J. C: <b>Effects of policosanol in elderly hypercholesterolemic patients.</b> Curr Ther Res 1993, 53 (3): 265-269. </li>
<li>Carbajal D, Arruzazabala ML, Molina V, Magraner J, Más R: <b>Efecto del policosanol y su interacción con aspirina en modelos de isquemia cerebral. </b>Arch Venezol Farmacol Terap 1993, 12: 42-44.</li>
<li>Soltero I, Fuenmayor I, Colmenares J, Arias F: <b>Ensayo doble ciego para la evaluación del policosanol en el tratamiento de la hiperlipoproteinemia Tipo II. </b>Arch Venezol Farmacol Terap 1993, 12 (1): 65-70. </li>
<li>Soltero I, Fuenmayor I, Colmenares J: <b>Estudio comparativo doble ciego de la eficacia y tolerancia del policosanol vs bezafibrato en pacientes con hiperlipidemia Tipo II.</b> Arch Venezol Farmacol Terap 1993, 12 (1): 71-76. </li>
<li>Aneiros E, Calderón B, Más R, Illnait J, Castaño G, Fernández L, Fernández JC: <b>Effects of successive dose increases of policosanol on the lipid profile and tolerability of treatment.</b> Curr Ther Res 1993, 54 (3): 304-312. </li>
<li>Arruzazabala ML, Molina V, Carbajal D Valdés S, Más R: <b>Effect of policosanol on cerebral ischemia in Mongolian gerbils: Role of prostacyclin and thromboxane A2.</b> Prostagl Leukotr Essent Fatty Acids 1993, 49: 695-697. </li>
<li>Menéndez R, Fraga V, Sotolongo V, Amor AM, del Río A, González RM, Jiménez S, Más R: <b>Efecto de la administración oral del policosanol sobre el metabolismo lipídico de ratas normocolesterolémicas.</b> Rev Mex Cien Farm 1993, 24: 16-18. </li>
<li>Alemán C, Más R, Hernández C, Rodeiro I, Cerejido E, Noa M, Capote A, Menéndez R, Amor AM, Fraga V, Sotolongo V, Jiménez S: <b>A 12 months study of policosanol oral toxicity in Sprague-Dawley rats.</b> Toxicol Lett 1994, 70: 77-87. </li>
<li>Noa M, Herrera M, Magraner J, Más R:<b> Effect of policosanol on isoprenaline-induced myocardial necrosis in rats.</b> J Pharm Pharmacol 1994, 46: 282-285. </li>
<li>Pons P, Rodríguez M, Robaina C, Illnait J, Más R, Fernández L, Fernández JC: <b>Effects of succesive dose increases of policosanol on the lipid profile of patients with type II hypercholesterolaemia and tolerability to treatment.</b> Int J Clin Pharmacol Res 1994, XIV: 27-33. </li>
<li>Carbajal D, Arruzazabala ML, Más R, Molina V and Valdés S: <b>Effect of policosanol on experimental thrombosis models.</b> Prostagl Leukot Essent Fatty Acids 1994, 50: 249-251. </li>
<li>Rodríguez-Echenique C, Mesa R, Más R, Noa M, Menéndez R, González RM, Amor AM, Fraga V, Sotolongo V, Laguna A: <b>Effect of policosanol chronically administered in male monkeys (Macaca arctoides). </b>F Chem Toxicol 1994, 32 (6): 565-575. </li>
<li>Rodríguez MD, García H: <b>Teratogenic and reproductive studies of policosanol in the rat and rabbit.</b> Terato Carcinog Mutag 1994, 14: 107-113. </li>
<li>Pons P, Rodríguez M, Más R, Illnait J, Fernández L, Robaina C, Fernández JC: <b>One year efficacy and safety of policosanol in patients with Type II hypercholesterolemia.</b> Curr Ther Res 1994, 55 (9): 1 084-1 092. </li>
<li>Mesa AR, Más R, Noa M, Hernández C, Rodeiro I, Gámez R, García M, Capote A, Alemán CL: <b>Toxicity of policosanol in Beagle dogs: one year study.</b> Toxicol Lett 1994, 73: 81-90. </li>
<li>Arruzazabala ML, Carbajal D, Más R, Molina V, Valdés S, Laguna A: <b>Cholesterol-lowering effects of policosanol in rabbits.</b> Biol Res 1994, 27: 205-208. </li>
<li>Menéndez R, Fernández I, del Río A, González RM, Fraga V, Amor AM, Más R: <b>Policosanol inhibits cholesterol biosynthesis and enhances LDL processing in cultured human fibroblasts.</b> Biol Res 1994, 27: 199-203. </li>
<li>Alemán CL, Más R, Noa M, Rodeiro I, Hernández C, Capote A: <b>Carcinogenicity of policosanol in Sprague Dawley rats: A 24 months study.</b> Terato Carcinog Mutag 1994, 14: 239-249. </li>
</ul>
</p>
</div>
<h3><a href="#">1995 </a></h3>
<div>
<p>
<ul>
<li>Aneiros E, Más R, Calderón B, Illnait J, Fernández L, Castaño G, Fernández JC: <b>Effect of policosanol in lowering-cholesterol levels in patients with type II hypercholesterolemia.</b> Curr Ther Res 1995, 56 (2): 176-182. </li>
<li>Torres O, Agramonte AJ, Illnait J, Más R, Fernández L, Fernández JC: <b>Treatment of hypercholesterolemia in NIDDM with policosanol.</b> Diabetes Care 1995, 18 (3): 393-397. </li>
<li>Castaño G, Más R, Nodarse M, Illnait J, Fernández L, Fernández JC: <b>One-year study of the efficacy and safety of policosanol (5 mg twice daily) in the treatment of type II hypercholesterolemia.</b> Curr Ther Res 1995, 56 (3): 296-304. </li>
<li>Noa M, Más R, de la Rosa MC, Magraner J: <b>Effect of policosanol on lipofundin-induced atherosclerotic lesions in rats.</b> J Pharm Pharmacol 1995, 47: 289-291. </li>
<li>Castaño G, Canetti M, Moreira M, Tula L, Más R, Illnait J, Fernández L, Fernández JC, Diaz E: <b>Efficacy and tolerability of policosanol in elderly patients with type II hypercholesterolemia: A 12 months study.</b> Curr Ther Res 1995, 56 (8): 819-828. </li>
<li>Alemán C, Noa M, Cerejido E, Hernández C, Rodeiro I, Más R, Briñis F: <b>Carcinogenicity of policosanol in mice: A 18 months study.</b> Fd. Chem Toxic. 1995, 33 (7): 573-578. </li>
<li>Canetti M, Moreira M, Illnait J, Más R, Fernández L, Fernández JC, Castaño G: <b>One year study of the effect of policosanol on lipid profile in patients with type II hypercholesterolemia.</b> Adv Ther 1995, 12 (4): 245-254. </li>
<li>Canetti M, Morera M, Más R , Illnait J, Fernández L, Fernández JC, Diaz E, Castaño G: <b>A two years study on the efficay and tolerability of policosanol in patients with type II hyperlipoproteinaemia.</b> Int J Clin Pharmacol Res 1995, XV: 159-165. </li>
<li>Batista J, Stusser R, Penichet M, Uguet E:<b> Doppler-ultrasound pilot study of the effects of long-term policosanol therapy on carotid-vertebral atherosclerosis.</b> Curr Ther Res 1995, Vol 56 (9): 906-914. </li>
</ul>
</p>
</div>
<h3><a href="#">1996 </a></h3>
<div>
<p>
<ul>
<li>Noa M, de la Rosa MC, Más R: <b>Effect of policosanol on foam cell formation in carrageenan-induced granulomas in rats.</b> J Pharm Pharmacol 1996, 48: 306-309. </li>
<li>Zardoya R, Tula L, Castaño G, Más R, Illnait J, Fernández JC, Díaz E, Fernández L: <b>Effects of policosanol on hypercholesterolemic patients with abnormal on serum biochemical indicators of hepatic function.</b> Curr Ther Res 1996, 57 (9): 568-577. </li>
<li>Castaño G, Tula L, Canetti M, Moreira M, Más R, Illnait J, Fernández L, Fernández JC: <b>Effects of policosanol in hypertensive patients with type II hypercholesterolemia.</b> Curr Ther Res 1996, 57 (9): 691-699. </li>
<li>Arruzazabala ML, Valdés S, Más R, Fernández L, Carbajal D: <b>Effect of policosanol succesive dose increases on platelet aggregation in healthy volunteers.</b> Pharmacol Res 1996, 34 (5/6): 181-185. </li>
<li>Menéndez R, Amor AM, González RM, Fraga V, Más R: <b>Effect of policosanol on the hepatic cholesterol biosynthesis of normocholesterolemic rats.</b> Biol Res 1996, 29: 253-257. </li>
<li>Batista J, Stusser R, Sáez F, Pérez B: <b>Effect of policosanol on hyperlipidemia and coronary heart disease in middle-aged patients: A 14-month pilot study.</b> Int J Clin Pharmacol Ther 1996, 34 (3): 134-137. </li>
<li>Batista JF, Stusser RJ, Padrón R, Sosa F, Pereztol O, Pérez B: <b>Functional improvement in coronary artery disease after 20 month of lipid-lowering therapy with policosanol.</b> Adv Ther 1996, 13 (3): 137-148. </li>
<li>González L, Magraner J, Acosta CP, Pérez N: <b>Analytical procedure for the determination of 1-octacosanol in plasma by solvent extraction and capillary gas chromatography.</b> J. Chrom B 1996 682: 359-363. </li>
<li>Campilongo R, Sandini P, Feldman R et al: <b>Eficacia, seguridad y tolerabilidad del policosanol en pacientes con hipercolesterolemia tipo II.</b> Estudio abierto. La Prensa Médica Argentina 1996, 83: 665-672. </li>
<li>Scazziota A, Pons S, Altman R: <b>Efecto del policosanol sobre la función plaquetaria en voluntarios sanos.</b> Rev Iberoam Trombo Hemost 1996, 9: 58-62. </li>
<li>Valdés S, Arruzazabala ML, Fernández L, Más R, Carbajal D, Alemán C, Molina V: <b>Effect of policosanol on platelet aggregation in healthy volunteers.</b> Int J Clin Pharmacol Res 1996, XVI (2/3): 67-72. </li>
<li>Crespo N, Alvarez R, Más R, Illnait J, Fernández L, Fernández JC: <b>Effect of policosanol on patients with non-insulin-dependent diabetes mellitus (NIDDM) and hypercholesterolemia. A pilot study.</b> Curr Ther Res 1997, 58 (1): 44-51. </li>
<li>Campilongo R, Sandini P, Feldman R et al: <b>Eficacia, seguridad y tolerabilidad del policosanol en pacientes con hipercolesterolemia tipo II. Estudio abierto.</b> La Prensa Médica Argentina 1996, 83: 665-672. </li>
<li>Scazziota A, Pons S, Altman R: <b>Efecto del policosanol sobre la función plaquetaria en voluntarios sanos.</b> Rev Iberoam Trombo Hemost 1996, 9: 58-62. </li>
<li>Valdés S, Arruzazabala ML, Fernández L, Más R, Carbajal D, Alemán C, Molina V: <b>Effect of policosanol on platelet aggregation in healthy volunteers.</b> Int J Clin Pharmacol Res 1996, XVI (2/3): 67-72. </li>
</ul>
</p>
</div>
<h3><a href="#">1997 </a></h3>
<div>
<p>
<ul>
<li>Crespo N, Alvarez R, Más R, Illnait J, Fernández L, Fernández JC: <b>Effect of policosanol on patients with non-insulin-dependent diabetes mellitus (NIDDM) and hypercholesterolemia. A pilot study.</b> Curr Ther Res 1997, 58 (1): 44-51. </li>
<li>51.	Pons P, Illnait J, Más R, Rodríguez M, Alemán CL, Fernández JC, Fernández L, Martín M: <b>A comparative study of policosanol versus probucol in patients with hypercholesterolemia. </b>Curr Ther Res 1997, 58 (1): 26-35. </li>
<li>Castaño G, Más R, Fernández JC, Illnait J: <b>Comparative effects of two once-daily regimens of policosanol in patients with type II hypercholesterolemia.</b> Curr Ther Res 1997, 58 (3): 154-162. </li>
<li>Ortensi G, Gladstein H, Valli H, Tesone P. A: <b>A comparative study of policosanol versus simvastatin in elderly patients with hypercholesterolemia.</b> Curr Ther Res 1997, 58 (6): 390-401. </li>
<li>Menéndez R, Arruzazabala ML, Más R, del Río A, Amor AM, González RM, Carbajal D, Fraga V, Molina V, Illnait J: <b>Cholesterol-lowering effect of policosanol on rabbits with hypercholesterolemia induced by a wheat starch-casein diet.</b> Brit J Nutr 1997, 77: 923-932. </li>
<li>Fraga V, Menéndez R, Amor AM, González RM, Jiménez S, Más R: <b>Effect of policosanol on in vitro and in vivo rat liver microsomal lipid peroxidation.</b> Arch Med Res 1997, 28 (3): 355-360. </li>
<li>Noa M, Más R, Mesa AR: <b>Effect of policosanol in circulating endothelial cells in experimental models in Sprague Dawley rats and in rabbits.</b> J Pharm Pharmacol 1997, 49: 999-1 002. </li>
<li>Rodríguez MD, Sánchez M, García H: <b>Multigeneration reproduction study of policosanol in rats.</b> Toxicol Lett 1997, 90: 97-106. </li>
<li>Benítez M, Romero C, Más R, Fernández L, Fernández JC: <b>A comparative study of policosanol versus pravastatin in patients with type II hypercholesterolemia.</b> Curr Ther Res 1997, 58 (11) : 859-867. </li>
<li>Canetti M, Moreira MS, Más R, Illnait J, Fernández L, Fernández JC: <b>Effects of policosanol on primary hypercholesterolemia: A 3-year open extension follow-up.</b> Curr Ther Res 1997, 58 (11): 868-875. </li>
<li>Arruzazabala ML, Valdés S, Más R, Carbajal D, Fernández L,: <b>Comparative study of policosanol, aspirin and the combination therapy policosanol-aspirin on platelet aggregation in healthy volunteers.</b> Pharmacol Res 1997, 36 (4): 293-297. </li>
</ul>
</p>
</div>
<h3><a href="#">1998 </a></h3>
<div>
<p>
<ul>
<li>Carbajal D, Arruzazabala ML, Valdés S, Más R: <b>Effect of policosanol on platelet aggregation and serum levels of arachidonic acid metabolites in healthy volunteers.</b> Prostag Leuk Essent Fatty Acids 1998, 58 (1): 61-64. </li>
<li>Molina V, Arruzazabala ML, Carbajal D, Más R, Valdés S: <b>Effect of policosanol on arterial blood pressure in rats. Study of the pharmacological interaction with nifedipine and propranolol.</b> Arch Med Res 1998, 29 (1): 21-24. </li>
<li>Rodríguez MD, García H: <b>Evaluation of peri- and post-natal toxicity of policosanol in rats.</b> Teratogenesis, Carcinogenesis, Mutagenesis 1998, 18: 1-7. </li>
<li>Noa M, Más R, Aguilar C, Ramos ME, Mesa AR, Lariot CA: <b>Effect of policosanol on damaged arterial wall induced by forceps in rabbits.</b> J Electron Microsc, 1998, IV: 629-630. </li>
<li>65.	Fernández L, Más R, Illnait J, Fernández JC: <b>Policosanol: results of a postmarketing surveillance study of 27 879 patients.</b> Curr Ther Res 1998, 59: 717-722. </li>
<li>Castaño G, Más R, Fernández JC, Pontigas V, Suazo M, Fernández L: <b>Open-label study of the efficacy, safety and tolerability of policosanol in patients with high global coronary risk.</b> Curr Ther Res 1998, 59 (10): 737-745. </li>
<li>Carbajal D, Arruzazabala ML, Valdés S, Más R: <b>Interaction policosanol-warfarin on bleeding time and thrombosis in rats.</b> Pharmacol Res 1998, 38 (2): 89-91. </li>
<li>Arruzazabala ML, Más R, Molina V, Carbajal D, Mendoza S, Fernández L, Valdés S: <b>Effect of policosanol on platelet aggregation in type II hypercholesterolemic patients.</b> Int J Tiss React 1998, XX: 119-124. </li>
<li>Noa M, Más R, Mesa R: <b>Effect of policosanol on intimal thickening in rabbit cuffed carotid artery.</b> Intern J Cardiol 1998, 67: 125-132. </li>
</ul>
</p>
</div>
<h3><a href="#">1999 </a></h3>
<div>
<p>
<ul>
<li>Más R, Castaño G, Illnait J, Fernández L, Fernández JC, Alemán C, Pontigas V, Lescay M: <b>Effects of policosanol in patients with type II hypercholesterolemia and additional coronary risk factors.</b> Clin Pharmacol Ther 1999, 65 (4): 439-447. </li>
<li>Castaño G, Más R, Fernández L, Illnait J, Fernández JC, Selman E: <b>A double-blind placebo-controlled study of the effects of policosanol in patients with intermittent claudication.</b> Angiology 1999, 50(2): 123-130. </li>
<li>72.	Castaño G, Más R, Fernández JC, López LE, Fernández L: <b>A long-term open label study of the efficacy and tolerability of policosanol in patients with high global coronary risk.</b> Curr Ther Res 1999, 60 (7): 379-391. </li>
<li>Más R, Rivas P, Izquierdo J. E, Hernández R, Fernández L, Fernández J. C, Orta S. D, Illnait J. and Ricardo Y. <b>Pharmacoepidemiologic study of policosanol.</b> Curr Ther Res, 1999,, 60 (8): 458-467. </li>
<li>Menéndez R, Fraga V, Amor AM, González RM, Más R: <b>Oral administration of policosanol inhibits in vitro copper ion-induced rat lipoprotein peroxidation.</b> Physiol Beh 1999, 67 (1): 1-7. </li>
<li>González VL, Magraner J: <b>Validation of a gas chromatographic method for the determining fatty alcohols that compose policosanol in 5 mg film-coated tablets.</b> J AOAC Int 1999, 82 (4): 834-839. </li>
<li>Molina V, Arruzazabala ML, Carbajal D, Valdés S, Noa M, Más R, Fraga V, Menéndez R: <b>Effect of policosanol on cerebral ischemia in Mongolian gerbils.</b> Brazil J Med Biol Res 1999, 32: 1 269-1 276. </li>
<li>Martínez L, Uribarri E, Laguna A: <b>Characterisation and compatibility studies between policosanol, a new hypocholesterolemic drug, and tablets excipients using differential scanning calorimetry (DSC).</b> Arch Pharm. Pharm. Med. Chem. 1999, 332: 439-441. </li>
<li>Alcocer A, Fernández L, Campos E, Más R. : <b>A comparative study of policosanol vs acipimox in patients with type II hypercholesterolemia.</b> Int J Tissue React 1999, XXI: 57-64. </li>
<li>Castaño G, Más R, Arruzazabala ML, Noa M, Illnait J, Fernández JC, Molina V, Menéndez A: <b>Effects of policosanol and pravastatin on lipid profile, platelet aggregation and endothelemia in older hypercholesterolemic patients.</b> Int. J. Clin Pharm. Res. 1999, XIX: 105-116. </li>
<li>Crespo N; Illnait J; Mas R; Fernández L, Castaño G: <b>Comparative study of the efficacy and tolerability of policosanol and lovastatin in patients with hypercholesterolemia and Non Insulin Dependent Diabetes Mellitus.</b> Int J Clin Pharmacol Res 1999, XIX: 117-127</li>
</ul>
</p>
</div>
<h3><a href="#">2000 </a></h3>
<div>
<p>
<ul>
<li>Castaño G, Más R, Fernández L, Fernández JC, Illnait J, López LE, Alvarez E: <b>Effects of policosanol on postmenopausal women with type II hypercholesterolemia.</b> Gynecol Endocrinol 2000, 14: 187-195. </li>
<li>Castaño G, Más R, Fernández JC, Fernández L, Alvarez E, Lezcay M: <b>Efficacy and tolerability of policosanol compared with lovastatin in patients with type II hypercholesterolemia and concomitant coronary risk factors.</b> Curr Ther Res 2000, 61 (3): 137-146</li>
<li>Menéndez R, Más R, Amor AM, González RM, Fernández JC, Rodeiro I, Zayas M, Jiménez S: <b>Effects of policosanol treatment on the susceptibility of low density lipoprotein (LDL) isolated from healthy volunteers to oxidative modification in vitro.</b> Brit. J. Clin. Pharmacol. 2000, 50: 255-262. </li>
<li>Menéndez R, Más R, Amor A, Fernández JC, González RM: <b>Effects of policosanol on the susceptibility of low-density lipoprotein (LDL) isolated from on hypercholesterolemic patients at high coronary risk to in vitro copper-mediated lipid peroxidation. A Randomised, Double-Blinded Pilot Study.</b> Curr Ther Res 2000, 61 (9) :609-620</li>
<li>Arruzazabala ML, Noa M, Menéndez R, Más R, Carbajal D, Valdés S, Molina V: <b>Protective effects of policosanol on atherosclerosis lesions in rabbits with exogenous hypercholesterolemia.</b> Braz J Med Biol Res 2000, 33: 835-840. </li>
<li>Marcello S, Gladstein J, Tesone P, Más R: <b>Effects of bezafibrate plus policosanol or placebo therapy in patients with combined dyslipidemia: A pilot study.</b> Curr Ther Res 2000, 61 (6) :346-357. </li>
<li>87.	Mas R: <b>Policosanol Drugs of the Future</b> 2000, 25 (6): 569-586. </li>
</ul>
</p>
</div>
<h3><a href="#">2001 </a></h3>
<div>
<p>
<ul>
<li>Castaño G, Más R, Fernández JC, Illnait J, Fernández L, Alvarez E: <b>Effects of policosanol in older patients with type II hypercholesterolemia and high coronary risk.</b> J. Gerontol A, Biol, Sci Med Sci 2001, 56 (3): 186-92. </li>
<li>Fernández JC, Más R, Castaño G, Menéndez R, Amor AM, González RM, Alvarez E: <b>Comparison of the efficacy, safety and tolerability of policosanol versus fluvastatin in elderly hypercholesterolemic women.</b> Clin Drug Invest 2001, 21 (2): 103-113. </li>
<li>90.	Castaño G; Más R; Fernández L; Illnait J; Gámez R, Fernández, JC: <b>Comparison of two regimens of policosanol administered at 20 mg/d in patients with type II hypercholesterolemia: A randomized, double-blind, Placebo-controlled study.</b> Curr Ther Res 2001, 62 (3): 194-208. </li>
<li>Castaño G, Mas R, Fernández L, Illnait J, Gámez R; Alvarez E: <b>Effects of policosanol 20 versus 40 mg/day in the treatment of patients with type II hypercholesterolemia: A 6 months double-blind study.</b> Int J Clin Pharmacol Res. 2001, XXI (1): 43-57</li>
<li>Mirkin A, Mas R, Martinto M, Boccanera R, Robertis A, Poudes R, Fuster A, Lastreto E, Yáñez M, Irico G, Mc Cook B, Farré A: <b>Efficacy and tolerability of policosanol in hypercholesterolemic postmenopausal women.</b> Int. J Clin Pharmacol Res 2001, XXI (1): 31-41</li>
<li>Castaño G, Mas R, Fernández L, Gámez R, Illnait J, Fernández J:<b> A long-term study of policosanol in the treatment of Intermittent Claudication.</b> Angiology 2001, 52 (2): 115-125. </li>
<li>Menéndez R, Amor A, Rodeiro I, González RM, Acosta P, Alfonso J, Mas R: <b>Policosanol modulates HMGCoA reductase activity in cultured fibroblasts.</b> Arch Med Res. 2001, 32: 8-12. </li>
<li>Noa M; Mas R; Mesa R: <b>A comparative study of policosanol versus lovastatin on intimal thickening in rabbit cuffed carotid artery.</b> Pharmacol Res 2001, 43: 31-37</li>
<li>Más R, Castaño G, Fernández L, Illnait J, Fernández J, Alvarez E: <b>Effects of policosanol on lipid profile and cardiac events in older hypercholesterolemic patients with coronary disease.</b> Clin Drug Invest 2001, 21 (1): 485-497. </li>
<li>Gámez R, Alemán CL, Mas R, Noa M, Rodeiro I, García H, Hernández C, Menéndez R, Aguilar C: <b>A 6-month study on the toxicity of high doses of policosanol orally administered to Sprague Dawley rats.</b> J Med Food 2001, 4 (2): 57-66</li>
<li>Arruzazabala ML, Carbajal D, Mas R, Valdés S, Molina V: <b>Pharmacological interaction between policosanol and nitroprusside in rats.</b> J Med Food 2001, 2 (4):67-70. </li>
<li>Marrero M, González L: <b>Traces determination of 1-octacosanol in plasma by solid phase extraction with Tenax-GC and capillary gas chromatography.</b> J. of Chromatography B, 2001, 762: 43-49. </li>
</ul>
</p>
</div>
<h3><a href="#">2002 </a></h3>
<div>
<p>
<ul>
<li>Uribarri E, Laguna A, Ricardo Y: <b>Physico-chemical characterization of policosanol, a novel hypocholesterolemic drug.</b> Drug Develop Pharm Ind. 2002, 28 (1) 89-93</li>
<li>Castaño G, Más R, Fernández J, Fernández L, Illnait J, López E. <b>Effects of policosanol on older patients with hypertension and Type II Hypercholesterolemia.</b> Drugs R & D 2002, 3 (3): 159-172</li>
<li>Castaño G, Menendez R, Más R Amor A, Fernández JL,. Gonzalez RM Lescay M. Alvarez E: <b>Effects of policosanol and lovastatin on lipid profile and lipid peroxidation in patients with dyslipidemia associated with type 2 diabetes mellitus.</b> Int J Clin Pharmacol Res. 2002, 22 (3-4): 89-99. </li>
<li>Castaño G, Más R, Fernández L, Illnait J, Hernandez E, Fernández J, Gámez R, Gutiérrez C, Alvarez E. <b>A randomized, double blind, placebo-controlled study of the efficacy and tolerability of policosanol in adolescents with Type II Hypercholesterolemia , </b>Curr Ther. Res. 2002, 63 (4): 286-303. </li>
<li>Arruzazabala ML, Molina V, Más R, Fernandez L, Carbajal D Valdés S, Castaño G.<b> Antiplatelet effects of policosanol 20 and 40 mg/d in healthy volunteers and dyslipidemic patients.</b> Clin Exp. Pharmacol. Physiol 2002, 29 (10), 891-7. </li>
<li>Castaño G, Fernández L, Más R, Illnait J, Fernández J, Mesa M. Alvarez E, Lescay M: <b>Comparison of the efficacy. Safety and tolerability of original policosanol versus other mixture of higher aliphatic primary alcohols on patients with type II hypercholesterolemia.</b> Int. J. Clin Pharmacol. Res. 2002, 22 (2), 55-66. </li>
<li>Cabrera L, Gonzalez V, Uribarri E, Sierra R, Laguna A, et al: <b>Study of the stability of tablets containing 10 mg of policosanol as active principle.</b> Boll Chim Farm. 2002, 141 (1): 223-229. </li>
<li>Cabrera L,. Uribarri E, Laguna A, Sierra R,Mederos D, Gonzalez M, Gonzalez V: <b>Study of the interaction between Policosanol and Excipients.</b> Boll Chim Farm. 2002, 141 (2. 3): 138-142. </li>
<li>Sierra R. Gonzalez V, Magraner J: <b>Validation of a gas chromatographic method for determination of fatty alcohols in 10 mg Film-coated tablets of policosanol.</b> J AOAC Intern 2002, 85 (2): 1-4. </li>
</ul>
</p>
</div>
<h3><a href="#">2003 </a></h3>
<div>
<p>
<ul>
<li>Castaño G, Más R, Fernández L, Illnait J, Mesa M. Alvarez E, Lescay M. <b>Comparison of the efficacy and tolerability of policosanol with atorvastatin in elderly patients with type II hypercholesterolemia.</b> Drugs Aging, 2003, 20 (2): 155-163. </li>
<li>Noa M, Mendoza S, Más R, Mendoza N. <b>Effect of policosanol on tetrachloride-induced acute liver damage in Sprague Dawley rats.</b> Drugs in Research Development. 2003, 4 (1): 29-35. </li>
<li>Noa M, Más R, de la Rosa MC: <b>Effects of policosanol on cells involved in atherosclerosis development.</b> J. of Microscopy and Análisis 2003, 9 (Supp 2). </li>
<li>Castaño G, Más R, Fernández L, Gámez R, Illnait J. : <b>Effects of policosanol and lovastatin in patients with intermittent claudication: A doble-blind comparative pilot study.</b> Angiology 2003, 54 (1), 25-38. </li>
<li>Castaño G, Fernández L, Mas R, Illnait J, Arruzazabala ML, Carbajal D, Molina V, Mesa M, Fernández J: <b>Comparison of the effects of policosanol and atorvastatin on lipid profile and platelet aggregation on patients with dyslipidemia and Type 2 diabetes mellitus.</b> Clin Drug Invest Clin Drug Investig. 2003, 23 (10): 639-50. </li>
<li>Cabrera L, Rivero B, Magraner J, Sierra R, González V, Uribarri E, Laguna A, Cora M, Tejeda Y, Rodríguez E, Velázquez C: <b>Stability studies of tablets containing 5 mg of policosanol as active principle.</b> Boll Chim Farm. 2003, 142 (7):277-84. </li>
<li>Castaño G, Fernández L, Illnait J, Fernández J, Mas R, Mesa M, Lopez E: <b>Effects of policosanol on patients with borderline to mildly increased serum cholesterol levels: A prospective, double-blind placebo-controlled study.</b> Curr Ther Res Clin & Exp 2003, 142 (7): 277-84. </li>
<li>Uribarri E, Laguna A, González M. <b>Study of the wet granulation in small scale high shear mixer of the film-coated tablets containing 20 mg of policosanol.</b> Boll Chim Farm. 2003, 142 (8):343-6. </li>
</ul>
</p>
</div>
<h3><a href="#">2004 </a></h3>
<div>
<p>
<ul>
<li>Castaño G, Mas R; Gámez R, Fernández J, Illnait J, Fernández L, Mendoza S, Mesa M, Gutierrez JA, López E. <b>Concomitant use of policosanol and ß-blockers in older patients.</b> Int J Pharmacol Clin Res 2004 Int J Clin Pharmacol Res. 2004, 24 (2-3):65-77. </li>
<li>Noa M, Más R, Mendoza S, Gámez. R, Mendoza N, Gonzalez J. <b>Policosanol prevents bone loss in ovariectomized rats.</b> Drugs Exp Clin Res. 2004, 30 (3):117-23. </li>
<li>Más R, Castaño G, Fernandez J, Gamez R, Illnait J, Fernandez L, Mesa M, Alverez E, Mendoza S. <b>Long-term effects of policosanol on obese patients with Type Hypercholesterolemia.</b> Asia Pac J Clin Nutr. 2004, 13 (Suppl): S102</li>
<li>Más R, Castaño G, Fernández J, Gámez R, Illnait J, Fernandez L, Mesa M, Alvarez E, Mendoza S. <b>Long-term effects of policosanol on older patients with Type diabetes.</b> Asia Pac J Clin Nutr. 2004, 13 (Suppl): S101 </li>
<li>Fernández, S, Mas R, Gamez, R, Diaz A, Fernández J, Orta SD, Illnait J, Castaño G, Mendoza S, Valdés F, Alvarez E. <b>A pharmacological surveillance of policosanol tolerability in the elderly.</b> Am Am J Geriatr Pharmacother. 2004, 2 (4):219-29. </li>
<li>Castaño G, Más R, Gámez R, Fernández L, Illnait J. <b>Effects of policosanol and ticlopidine in patients with intermittent claudication: A doble-blinded pilot comparative study.</b> Angiology. 2004 Jul-Aug;55(4):361-71. </li>
</ul>
</p>
</div>
<h3><a href="#">2005</a></h3>
<div>
<p>
<ul>
<li>Menéndez R, Marrero D, Más R, RM González, Pérez Y. <b>In vitro and in vivo stuty of octacosanol metabolism.</b> Arch Med Res. 2005, 36 (2):113-9. </li>
<li>Sierra R, González V, Tejeda, Y, Campañá H, Milian V. <b>Determinación por Cromatografía Gaseosa de los Productos de degradación térmica de las Tabletas con 10 mg de policosanol. </b>Acta Bonaerense 2005, 24 (1): 99-103</li>
<li>Noa, M, Mas R: <b>Protective effect of policosanol on atherosclerotic plaque on aortas in monkeys.</b> Arch Med Res 2005, 36 (5): 441-7</li>
<li>Castaño, G, Fernández L, Mas R, Gámez R, Illnait J, Mendoza S, Mesa M. <b>Effects of addition of policosanol to Omega-3 fatty acids therapy on lipid profile of patients with Type II hypercholesterolemia.</b> Drugs Res Dev 2005, 6 (4): 207-219. </li>
<li>Gámez R, Más R, Arruzazabala Ml, Mendoza S, Castaño G. <b>Effects of concurrent therapy with policosanol and omega-3 fatty acids (FA) on lipid profile and platelet aggregation of rabbits.</b> Drugs R D. 2005, 6 (1):11-9. </li>
</ul>
</p>
</div>
<h3><a href="#">2006</a></h3>
<div>
<p>
<ul>
<li>Castaño G, Arruzazabala L, Fernández L, Mas R, Carbajal D, Molina V, Illnait J, Mendoza S, Gámez R, Mesa M, Fernández JC. <b>Effects of combination treatment with policosanol and omega-3 fatty acids on platelet aggregation. A randomized double-blind clinical study.</b> Current Therapeutic Research 2006 , 67 (3): 174-192</li>
<li>Castaño G, Arruzazabala L, Fernández L, Mas R, Carbajal D, Molina V, Illnait J, Mendoza S, Gámez R, Mesa M, Fernández JC. <b>Effects of combination treatment with policosanol and omega-3 fatty acids on platelet aggregation. A randomized double-blind clinical study.</b> Current Therapeutic Research 2006 , 67 (3): 174-192</li>
</ul>
</p>
</div>
<h3><a href="#">2007</a></h3>
<div>
<p>
<ul>
<li>Noa M, Mas R, Lariot C. <b>Protective effect of policosanol on endothelium and intimal thickness induced by forceps in rabbits.</b> J. Medicinal Food 2007, 1:452-459</li>
<li>Noa M, Mas R, de la Rosa MC. <b>Pleiotropic effects of policosanol on atherosclerosis.</b> Acta Microscopica 2007, 16 (1 – 2): Suppl 2: 339 </li>
<li>Gonzalez V, Marrero D, Sierra R, Velásquez C. <b>Capillary Gas Chromatography of the fatty alcohols (C24-C34) composing policosanol in 5 and 10 miligram film-coated tablets.</b> LAJP 2007, 26 (6): 900-903</li>
</ul>
</p>
</div>
<h3><a href="#">2008</a></h3>
<div>
<p>
<ul>
<li>Illnait J, Castaño G, Alvarez E, Fernandez L, Mas R, Mendoza S, Gamez R. <b>Effects of policosanol (10 mg) vs aspirin (100 mg/d) in patients with intermittent claudication: a 10- week, randomized, comparative study.</b> Angiology 2008, 59 (3): 269-77. </li>
<li>Marrero D, González V, Sierra R. et al. <b>Validación de un nuevo método analítico por CG con columna capilar para la determinación de alcoholes alifáticos de alto peso molecular en el policosanol ingrediente activo.</b> Rev. Colombiana de Ciencias Quim Farm 2008, 37 (1): 62- 68</li>
<li>Mendez E, González V. and Sierra R. <b>Gas Chromatographic Determination of High Molecular Weight Alcohols from Policosanol in Omega-3 Fish Oil by Acylation with Acetyl Chloride.</b> Journal of AOAC Internacional 2008, 91(5): 1013-1019. </li>
<li></li>
<li></li>
</ul>
</p>
</div>
</div>
{% endblock %}
{% block javascripts %}
  <script>
  $(document).ready(function() {
    $("#accordion").accordion({

	collapsible: true,
	autoHeight: false
	
	
	});
  });
  </script>
  <script>
  $(document).ready(function() {
    $("#accordionII").accordion({
    active: false,
	collapsible: true,
	autoHeight: false
	
	
	});
  });
  </script>
{% endblock %}
