{% extends '::frontend.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/estaticas/css/publicaciones/policosanol.css') }}"
rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %}Publicaciones-Policosanol{% endblock %}
{% block id 'policosanol' %}
{% block article %}
<div id="title">
<h2>Proyecto Policosanol</h2>
<img class="title" alt="icono maquina" src="{{ asset('bundles/estaticas/images/maquina.png') }}">
</div>
<p class="primero">Publicaciones del Proyecto Policosanol desde el año 1992 a la fecha, en loa hámbitos Nacionales e internacionales.</p> 

<h3>Nacionales</h3>
<div id="accordion">
<h3><a href="#">1991 </a></h3>
<div>
<p>
<ul>
<li>Pérez-Souto N, Magraner J, González L, Mederos CM, Acosta PC, Reyes JL, Martínez O: <b>Administración intravenosa del Ateromixol (PPG) en perros Beagle, cerdos y ratas. Determinación de niveles plasmáticos de octacosanol.</b> Rev CENIC Cien Biol 1991, 22: 15-19. 
</li> 
<li>Arruzazabala ML, Carbajal D, Más R, Castaño G, Sotolongo R, Mesa R: <b>Efecto del Ateromixol (PPG) sobre los niveles de colesterol en perros Beagle.</b> Rev CENIC Cien Biol 1991, 22: 60-61. 
</li>
<li>Cruz-Bustillo D, Mederos CM, Más R, Arruzazabala ML, Barreto B, Martínez O: <b>Efecto hipocolesterolémico del Ateromixol (PPG) en el cerdo en ceba.</b> Rev CENIC Cien Biol 1991, 22: 62-63. </li>
<li>Arruzazabala ML, Carbajal D, Más R, García M: <b>Efectos del Ateromixol (PPG) sobre la agregación plaquetaria.</b> Rev CENIC Cien Biol 1991, 22: 72-73. </li>
<li>Illnait J, Castaño G, Nodarse M, Pontigas V, Hernández L, Más R: <b>Efectos del Ateromixol (PPG) sobre la hiperlipoproteinemia del tipo II.</b> Rev CENIC Cien Biol 1991, 22: 74-76. </li>
<li>Pérez-Souto N, Acosta PC, Mederos CM, Reyes JL, Martínez O: <b>Efecto del Ateromixol (PPG) sobre la famacocinética de la antipirina.</b> Rev CENIC Cien Biol 1991, 22: 77-78. </li>
<li>Noa M, Herrera M, Más R: <b>Efecto del Ateromixol (PPG) sobre el daño endotelial en ratas.</b> Rev CENIC Cien Biol 1991, 22: 79-80. </li> 
<li>Alemán CL, Más R, Rodeiro I, Noa M. Hernández C, Capote A, Menéndez R, González RM, Amor AM, Jiménez S: Toxicología aguda del Ateromixol (PPG) en roedores. Rev CENIC Cien Biol 1991, 22: 102-105. </li>
<li>Fernández SI, Rendón A, de las Cajigas A, López M: <b>Estudio genotóxico del Ateromixol (PPG), un nuevo medicamento hipolipemiante.</b> Rev CENIC Cien Biol 1991, 22: 98-101. </li>
</ul>
</p>
</div>
<h3><a href="#">1996 </a></h3>
<div>
<p>
<ul>
<li>Menéndez R, Sotolongo V, Fraga V, Amor AM, González R, del Río A, Jiménez S, Pérez N, Más R: <b>Niveles plasmáticos y excreción de la radiactividad total en voluntarios sanos tras la administración oral de octacosanol-3H.</b> Rev CENIC Cien Biol 1996, 27: 32-35. </li>
<li>Gutiérrez C, Fernández L, Fernández JC, Castaño G, Más R, Rodríguez MM: <b>Estudio de la eficacia del policosanol en pacientes con hiperlipoproteinemia tipo II: Estudio abierto.</b> Rev CENIC Cien Biol 1996, 27: 36-37. </li>
<li>Castaño G, Illnait J, Fernández L, Fernández JC, Más R: <b>Estudio dosis-efecto de la acción hipocolesterolémica del policosanol en pacientes con hiperlipoproteinemia tipo II.</b> Rev CENIC Cien Biol 1996, 27: 38-40. </li>
<li>Orozco J, Gallardo R, Illnait J, Surribas E, Fernández L, Fábregas M, Más R, Fernández JC: <b>Estudio de la eficacia, seguridad y tolerabilidad del policosanol (5 mg/día) en pacientes con hipercolesterolemia tipo II.</b> Rev CENIC Cien Biol 1996, 27: 41-45. </li>
<li>Castaño G, Nodarse M, Más R, Illnait J, Fernández L, Fernández JC: <b>Comparaciones de los efectos del policosanol y la lovastatina en pacientes con hipercolesterolemia primaria tipo II.</b> Rev CENIC Cien Biol 1996, 27: 57-63. </li>
<li>Canetti M, Morera MS, Illnait J, Más R, Fernández L, Castaño G, Fernández JC: <b>Estudio comparativo de los efectos del policosanol y el gemfibrozil en pacientes con hipercolesterolemia primaria tipo II.</b> Rev CENIC Cien Biol 1996, 27: 64-70. </li>
<li>Pons P, Fernández L, Más R, Illnait J, Robaina C, Rodríguez M, Fernández JC: <b>Estudio comparativo de los efectos del policosanol y el bezafibrato en pacientes con hipercolesterolemia primaria tipo II.</b> Rev CENIC Cien Biol 1996, 27: 71-77. </li>
</ul>
</p>
</div>
<h3><a href="#">1998 </a></h3>
<div>
<p>
<ul>
<li>Castaño G, Nodarse M, Más R, Illnait J, Fernández L, Fernández JC: <b>Estudio comparativo de la eficacia y tolerabilidad del policosanol, la simvastatina y de su terapia combinada en el tratamiento de la hipercolesterolemia tipo II.</b> Rev CENIC Cien Biol 1998, 29 (1): 9-15. </li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
</p>
</div>
<h3>Misión</h3>
<p>"Ser una comercializadora que se distinga por promover estilos de vida sanos en el marco de la prevención de salud e insertar sus productos en ese ámbito y por contar con la confianza de proveedores, clientes y consumidores finales; así como por su eficiencia empresarial, preparación y motivación de sus recursos humanos, trabajo coordinado y comunicación idónea y apego a los valores políticos y éticos de nuestra sociedad".</p>
{% endblock %}
{% block javascripts %}
  <script>
  $(document).ready(function() {
    $("#accordion").accordion({
	active: false,
	collapsible: true,
	autoHeight: false
	
	
	});
  });
  </script>
{% endblock %}
