h3 {
float: left;
clear: left;

}
#accordion ul {

margin: 12px;
padding: 0;
}
#accordion h3  {
/*background-color: #00A651;*/
    border-radius: 3px 3px 3px 3px;
    color: #00A651;
    font-family: "Myriad Pro",sans-serif;
    font-weight: 100;
    padding: 2px 0;
    /*text-align: center;*/
    font-size: 15px;
	width: 100px;


}
#accordion ul li {
margin: 0 0 12px 0;
color: #333;
line-height: 1em;
list-style-type:none;
padding: 0 0 0 45px;
position: relative;
text-align: justify;
line-height: 19.5px;
}

#accordion ul li:before{
/*fill it with a blank space*/
content: "\00a0";
 
/*make it a block element*/
display: block;
 
/*adding an 8px round border to a 0x0 element creates an 8px circle*/
border: solid 8px #00A651;
border-radius: 8px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
height: 0;
width: 0;
 
/*Now position it on the left of the list item, and center it vertically
(so that it will work with multiple line list-items)*/
position: absolute;
left: 7px;
top: 40%;
margin-top: -8px;
}
#accordion ul li:after{
/*Add another block-level blank space*/
content: "\00a0";
display:block;
 
/*Make it a small rectangle so the border will create an L-shape*/
width: 2px;
height: 5px;
 
/*Add a white border on the bottom and left, creating that 'L' */
border: solid #fff;
border-width: 0 2px 2px 0;

/*Position it on top of the circle*/
position: absolute;
left: 14px;
top: 40%;
margin-top: -4px;
 
/*Rotate the L 45 degrees to turn it into a checkmark*/
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
}
.ui-accordion { width: 100%; margin-top:10px;}
.ui-accordion .ui-accordion-header { 
cursor: pointer; 
position: relative; 
margin-top: 1px;
zoom: 1;
float: left;
clear: both;
}
.ui-accordion .ui-accordion-header.ui-state-focus:after { 
content: "-";
font-family: Arial, Verdana, sans-serif;
font-weight:150;
/*text-shadow: 1px 1px 1px #333333;*/

padding: 0 5px 0 9px;
border-left: 1px solid #fff;
 }
.ui-accordion .ui-accordion-header.ui-state-default:after { 
content: "+";
font-family: Arial, Verdana, sans-serif;
font-weight:150;
/*text-shadow: 1px 1px 1px #333333;*/
text-decoration: none;
padding: 0 5px 0 4px;
border-left: 1px solid #fff;
 
 }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }

.ui-accordion .ui-accordion-header a { 
display: block;
color: #00a651;

font-family: Arial, Verdana, sans-serif;
font-weight:150; 
text-decoration: none;
display: inline;
    /*background-color: rgba(0, 166, 81, 0.8);*/
    text-align: center;
    /*text-shadow: 1px 1px 1px #333333;*/
    width: 100px;
	border-bottom: 1px solid #00A651;
}
/*.ui-accordion-icons .ui-accordion-header a { padding-left: 2.2em; }*/
/*.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }*/
.ui-accordion .ui-accordion-content { border: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; zoom: 1; float: left;}
.ui-accordion .ui-accordion-content-active { display: block; }
#accordionII ul {

margin: 12px;
padding: 0;
}
#accordionII h3  {
/*background-color: #00A651;*/
    border-radius: 3px 3px 3px 3px;
    color: #00A651;
    font-family: "Myriad Pro",sans-serif;
    font-weight: 100;
    padding: 2px 0;
    /*text-align: center;*/
    font-size: 15px;
	width: 100px;


}
#accordionII ul li {
margin: 0 0 12px 0;
color: #333;
line-height: 1em;
list-style-type:none;
}
#accordionII ul li{
list-style-type:none;
padding: 0 0 0 45px;
position: relative;
text-align: justify;
line-height: 19.5px;
}

#accordionII ul li:before{
/*fill it with a blank space*/
content: "\00a0";
 
/*make it a block element*/
display: block;
 
/*adding an 8px round border to a 0x0 element creates an 8px circle*/
border: solid 8px #00A651;
border-radius: 8px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
height: 0;
width: 0;
 
/*Now position it on the left of the list item, and center it vertically
(so that it will work with multiple line list-items)*/
position: absolute;
left: 7px;
top: 40%;
margin-top: -8px;
}
#accordionII ul li:after{
/*Add another block-level blank space*/
content: "\00a0";
display:block;
 
/*Make it a small rectangle so the border will create an L-shape*/
width: 2px;
height: 5px;
 
/*Add a white border on the bottom and left, creating that 'L' */
border: solid #fff;
border-width: 0 2px 2px 0;

/*Position it on top of the circle*/
position: absolute;
left: 14px;
top: 40%;
margin-top: -4px;
 
/*Rotate the L 45 degrees to turn it into a checkmark*/
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
}